
@{
    ViewBag.Title = "pageProfile";
}

<h2>Profile Information</h2>
<br>
<br>
<b>Name : @Model.name</b>
<br>
<b>DOB : @Model.DOB</b>
<br>
<b>Nation : @Model.Nation</b>
<br>
<b>Blood Group : @Model.Bldgrp</b>
<br>
<b>Address : @Model.Address</b>
<br>
<b>Contact No : @Model.contactNo</b>
<br>
<b>Hobby : @Model.Hobby</b>
<br>

