@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<br>
<br>

<b>@Html.ActionLink("Home", "Home")</b>
<b>&emsp;</b>
<b>@Html.ActionLink("Profile", "PageProfile")</b>
<b>&emsp;</b>
<b>@Html.ActionLink("Education", "Education")</b>
<b>&emsp;</b>
<b>@Html.ActionLink("Projects", "Projects")</b>
<b>&emsp;</b>
<b>@Html.ActionLink("Reference", "Refer")</b>
<b>&emsp;</b>

